body {
	background-image: url(pict_bg_login.jpg);
	background-size: 100%;
	font-family: sans-serif;
}

h3 {
	color: #fff;
}

.login {
	padding: 1em;
	margin: 2em auto;
	margin-top: 0px;
	width: 17em;
	background: rgba(255,255,255,0.6);
	border-radius: 3px;
}

label {
	font-size: 10pt;
	color: #555;
}

input[type="text"],
input[type="password"],
textarea {
	padding: 8px;
	width: 95%;
	background: #efefef;
	border: 0;
	font-size: 10pt;
	margin: 6px 0px;
}

.tombol {
	width: 100%;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	background: #3498db;
	color: #fff;
	border: 0;
	border-radius: 10px;
	padding: 10px 25px;
	margin: 20px 0px;
}
